# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Optional npm cache directory
.npm/

# Yarn Integrity file
.yarn-integrity

# Optional Yarn cache
.yarn-cache/


# Ignore specific Ant Design modules
node_modules/antd/
node_modules/@ant-design/